<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
        <RollingFile name="App-Appender" fileName="/opt/uniquora/logs/file.log"
                     filePattern="/opt/uniquora/logs/file-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout>
                <pattern>[%-5level] %d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="kz.codingwolves" level="debug">
            <AppenderRef ref="App-Appender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>